src/MyShop.Core/obj/*
src/MyShop.Core/bin/*
src/MyShop.WebApi/bin/*
src/MyShop.WebApi/obj/*
src/MyShop.WebApi/wwwroot/*
src/.idea/*
src/.vs/*

/src/obj
/src/bin/Debug
/src/MyShop.Database/obj
/src/MyShop.Database/bin/Debug/net6.0
