src/MyShop.Core/obj/*
src/MyShop.Core/bin/*
src/MyShop.WebApi/bin/*
src/MyShop.WebApi/obj/*
src/MyShop.WebApi/wwwroot/*
src/.idea/*
src/.vs/*

/src/obj
/src/bin/Debug
/src/MyShop.Database/obj
/src/MyShop.Database/bin/Debug/net6.0
/src/MyShop.Database/bin/Debug/net7.0
/src/MyShop.Database/bin/Debug/net8.0
/src/MyShop.sln.DotSettings.user
/MyShop.UnitTest/bin/Debug/net8.0
/MyShop.UnitTest/obj
/MyShop.IntegrationTest/bin/Debug/net8.0
/MyShop.IntegrationTest/obj
